.header {
  font-size: 18px;
  font-weight: 400;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;
  padding-top: 92px;
  margin: 0 0 92px;
}

.header__links-list {
  display: flex;
  padding: 2px 0 0 50px;
  gap: 32px;
  align-items: center;
  list-style: circle;
  flex-direction: row;
}

.address {
  display: block;
  font-style: normal;
  text-underline-position: auto;
  text-underline-offset: 4px;
  line-height: 24.3px;
}

.header__contacts {
  padding: 5px 0 0 184px;
}

.header__links-list-item {
  text-underline-position: auto;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
}

.header__contacts {
  font-style: normal;
  line-height: 1.4em;
  display: block;
  padding-top: 1px;
  padding-left: 182px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.png);
  background-size: cover;
  background-position: center;
  min-height: 757px;
}

.overlay {
  position: absolute;
  background-color: rgb(0 0 0/0.6);
  background-size: cover;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 1;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding: 165px 50px 135px;
  line-height: 100px;
  z-index: 2;
}

.letter_spacing-standart {
  letter-spacing: 0.3em;
}

.letter_spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {
  text-align: left;
  line-height: 115px;
  margin-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
  margin-bottom: 20px;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  padding: 0 50px 0 78px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 19px;
  z-index: 2;
}

.bet-button {
  z-index: 2;
  background-color: transparent;
  font: inherit;
  color: inherit;
  font-size: 22px;
  text-transform: uppercase;
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
}

.lots {
  margin: 179px 24px 0;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  padding-left: 40px;
  padding-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  color: #fff;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  position: relative;
  width: 334px;
  min-height: 563px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.card-link {
  text-decoration: none;
}

.card_type_film {
  background: url("../images/card-lot-01.jpg") no-repeat center / cover;
}

.card_type_book {
  background: url("../images/card-lot-02.jpg") no-repeat center / cover;
}

.card_type_picture {
  background: url("../images/card-lot-03.jpg") no-repeat center / cover;
}

.card__title {
  z-index: 2;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
}

.card__text {
  z-index: 2;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  font-weight: 400;
  text-underline-offset: 5px;
}

.about {
  padding: 0 24px;
  margin-top: 147px;
}

.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-flow: column;
  grid-template-areas:
    "logo title"
    ". text";
  gap: 8px 12px;
}

.about__logo {
  grid-area: logo;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  margin: 35px 47px 0;
}

.about__logo-image {
  background-image: url(../images/logo-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 148px 114px;
}

.about__title {
  grid-area: title;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 133px;
}

.about__text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 178px 50px 91px;
  font-size: 18px;
  font-weight: 400;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link {
  text-decoration: none;
}

.footer__menu-link_active {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-skip-ink: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}
